/* Configurações para desktop */

@charset 'UTF-8';

body {
    background-repeat: no-repeat;
    background-image: url('../../Images/Fundo_login_paisagem.jpg');
    background-position: top center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

main {
    width: 650px;
    height: 350px;
    padding: 35px 10px;
}

div {
    display: flex;
    flex-direction: row;
}

button {
    margin-top: 15px;
    
}
label {
    margin: 5px 0;
}