/* Configurações para desktop da tela de login */

@charset 'UTF-8';

body {
    background-repeat: no-repeat;
    background-image: url('../../Images/Tela_login_paisagem.png');
    background-position: top center;
    background-size: cover;
}

h1 {
    font-size: 60px;
}

main {
    width: 500px;
    height: 350px;
}
