<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acompanhar Consulta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Acompanhar_consulta/Acompanhar_consulta_geral.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Acompanhar_consulta/Acompanhar_consulta_retrato.css') }}" media="screen and (orientation: portrait)">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Acompanhar_consulta/Acompanhar_consulta_paisagem.css') }}" media="screen and (orientation: landscape)">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Images/icone.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='Images/Logo.png') }}" alt="Logo" srcset="">
        <h1>Acompanhar Consulta</h1>
        <form action="sair" method="get">
            <abbr title="Sair">
                <button type="submit" id="sair_botao">
                    <img src="{{ url_for('static', filename='Images/simbolo_sair.png') }}" alt="" id="sair">
                </button>
            </abbr>
        </form>
    </header>
    <main>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome do pet</th>
                        <th>Espécie</th>
                        <th >Data Hora</th>
                        <th>Status</th>
                        <th>Tipo de consulta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consulta in lista_acompanhar_consulta %}
                    <tr>
                        <td>{{ consulta['nome_animal'] }}</td>
                        <td>{{ consulta['especie'] }}</td>
                        <td>{{ consulta['data_hora'] }}</td>
                        <td>{{ consulta['status'] }}</td>
                        <td>{{ consulta['finalidade'] }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">Nenhuma consulta encontrada</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <form action="Voltar">
            <button type="submit" id="btn_voltar">
                <img src="{{ url_for('static', filename='Images/botao_voltar.png') }}" alt="botão de voltar" srcset="" id="botao_voltar">
            </button>
        </form>
    </footer>
</body>
</html>