<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login/Login_geral.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login/Login_retrato.css') }}" media="screen and (orientation: portrait)">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login/Login_paisagem.css') }}" media="screen and (orientation: landscape)">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Images/icone.ico') }}" type="image/x-icon">
</head>
<body>
    <!-- Tela de login -->  
    <header>
        <img src="{{ url_for('static', filename='Images/Logo.png') }}" alt="Logo da Dogtor">
        <h1>Tela de Login</h1>
    </header>

    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="container">
                        <p class="alert alert-{{ category }}" id="accepted">
                            {{ message }}
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <main>
        <section id="login">
            <h2>Entrar</h2>
            <p>Acesse sua conta</p>

            <form action="/login" method="post">
                <input type="text" id="usuario" name="nome_login" placeholder="nome" required>
                <input type="password" id="senha" name="senha_login" placeholder="••••••••" required>

                <label for="exibir_senha">
                    <input type="checkbox" name="exibir" id="exibir_senha">
                    Exibir senha
                </label>

                <button type="submit">Confirmar</button>
            </form>
        </section>

        <section id="register">
            <a href="{{ url_for('register_page') }}">Sem conta? clique para criar</a>
        </section>
    </main>

    <script src="{{ url_for('static', filename='JavaScript/exibir_senha.js') }}"></script>
</body>
</html>