/* Configurações desktop */

@charset 'UTF-8';

body {
    background-image: url('../../Images/tela_gerenciar_consulta_paisagem.png');
    background-position: center center;
    background-size: cover;
}

main {
    width: 700px;
    height: 450px;
    padding: 40px 150px;
    flex-direction: column;
    margin-top: 120px;
}

button {
    margin: 0px 15px;
    height: 50px;
    width: 200px;
    font-size: 20px;
}

button#Salvar {
    margin-top: 15px;
}

img#sair {
    width: 60px;
    height: 60px;
}

button#sair_botao {
    margin-right: 0px;
}

img#botao_voltar {
    width: 75px;
    height: 75px;
    margin-top: 15px;
}

.btn_delete, .btn_update {
    width: 100px;
    height: 35px;
    font-size: 15px;
}

.action-container {
    margin-bottom: 10px;
}

.btn_notconfirm {
    width: 200px;
}
fieldset {
    padding: 15px;
    margin-top: 15px;
}
