/* Configurações desktop */

@charset 'UTF-8';

body {
    background-image: url('../../../Images/tela_menu_cliente_paisagem.png');
    background-position: center center;
    background-size: cover;
}

form {
    flex-direction: row;
}

main {
    width: 700px;
    height: 250px;
    padding: 0px 40px;
}

button {
    margin: 0px 15px;
    height: 100px;
    width: 200px;
    font-size: 20px;
}